.container {
    margin-top: 30px;
    position: relative;
    /* display: grid; */
    grid-template-columns: 22% auto;
    gap: 1rem;
    border: 1px solid black;
    width: 500px;
    height: 650px;
}
.header {
    display: flex;
    height: 50px;
    /* background-color: #0056b3; */
}
.body {
    display: block;
}